*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumMongDor';
}
body{
    width: 100%;
    min-height: 100vh;
}
.portfolio{
    width: 100%;
    padding: 30px 8%;
    background-color:white; 
}
.portfolio .section-head{
    max-width: 700px;
    margin: 0px auto 25px;
    text-align: center;
}
.section-head h1{
    position: relative;
    font-size: 70px;
    margin: 10px 0px 30px;
    color: green;
}
.button-group{
    text-align: center;
    margin-bottom: 40px;
}
.button-group .button{
    display: inline-block;
    padding: 8px 20px;
    margin: 5px;
    background-color:rgba(152, 251, 152, 0.448);
    color:black;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.4s;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.button-group .button.active{
    background-color:green;
    color: white;
}
.button-group .button:hover{
    background-color:green;
    color: white;
}
div.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div.gallery .item{
    position: relative;
    margin: 4px;
    width: 400px;
    overflow: hidden;
    cursor: pointer;
}
.item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}
div.gallery .item:hover img {
    transform: scale(1.15);
}
.item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(245, 245, 220, 0.819);
    color: black;
    padding: 15px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.item:hover .overlay{
    opacity: 1;
}
.item .overlay p{
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid none;
    color: black;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}
.item .overlay p:hover{
    background-color: none;
    color: black;
}

@media(max-width: 1024px){
    div.gallery .item{
        width: 400px;
    }
}

@media(max-width: 600px){
    div.gallery .item{
        width: 100%;
        margin: 4px 0px;
    }
}